@import '../../src/styles/variables/var.scss';

.more-page-wrap{
    width: 80%;
    margin: 50px auto;

    @media screen and (max-width: 768px) {
        width: 95%;
    }

    .about-intro{
        text-align: center;
        width: 80%;
        margin: auto;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        h1{
            font-size: 40px;
            font-family: $SegoeUI;

            @media screen and (max-width: 768px) {
                font-size: 30px;
            }
        }

        p{
            font-size: 16px;
            font-family: $SegoeUI;
        }
    }

    .about-history{
        margin-top: 50px;

        .work-name{
            font-size: 28px;
            color: #eeeeee;

            @media screen and (max-width: 768px) {
                font-size: 18px;
            }
        }

        .company-name{
            font-size: 22px;
            color: #eeeeee;
            line-height: 1;

            @media screen and (max-width: 768px) {
                font-size: 15px;
            }
        }

        .address-name{
            color: #eeeeee;

            @media screen and (max-width: 768px) {
                font-size: 15px;
            }
        }

        .resp-cont{
            color: #bbbbbb;
            font-size: 14px;
        }
    }
}