@import '../../src/styles/variables/var.scss';

.stack-wrap{

    .stack-row{
        width: 75%;
        margin: auto;

        @media screen and (max-width: 768px) {
            width: 85%;
        }


        .stackCard{
            img{
                width: 80px;
                align-items: center;
                text-align: center;
                margin: auto;
                padding-bottom: 10px;

                @media screen and (max-width: 768px) {
                    width: 60px;
                }
            }

            p{
                text-align: center;
                font-family: $SegoeUI;
                font-size: 14px;
                color: rgb(63, 63, 63);

                @media screen and (max-width: 768px) {
                    font-size: 12px;

                }
            }
        }
    }

    .slick-prev::before, .slick-next::before{
        color: #a3a3a3;
    }
}



