@import '../styles/variables/var.scss';

.footer-section{
    background-color: $primaryColor;
    padding: 50px 100px;

    @media screen and (max-width: 768px){
        padding: 50px 10px;
    }

    .footer-tag{
        width: 100%;
        margin-bottom: 20px;

        h1{
            text-align: center;
            color: $mainWhite;
            font-size: 35px;

            @media screen and (max-width: 768px){
                font-size: 18px;
            }

            span{
                font-weight: 100;
            }
        }
    }

    .socmed-wrap{
        .socmed-title{
            text-align: center;

            h1{
                color: $mainWhite;
                font-size: 22px;
                font-style: italic;
            }
        }

        .socmed-icons{
            font-size: 27px;
            text-align: center;

            @media screen and (max-width: 768px){
                font-size: 20px;
            }

            a{
                color: white;
            }

            .soc{
                margin: 0 7px;
            }
        }
    }

    .quick-links{
        margin-top: 25px;

        ul{
            display: flex;
            text-align: center;
            justify-content: center;

            li{
                list-style-type: none;
                margin: 0 12px;

                a{
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .copyright{
        text-align: center;
        margin-top: 10px;

        h4{
            font-size: 18px;
            color: white;
        }
        
        p{
            font-size: 14px;
            color: rgb(223, 223, 223);
        }
    }
}