@import '../../src/styles/variables/var.scss';

.head-wrap{
    .head-grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
        margin: 50px 100px;

        .head-col{
            padding: 10px;

            .head-opt{
                display: grid;
                grid-template-columns: 2fr 2fr 2fr 0.5fr;
                grid-gap: 15px;

                .prj-icon{
                    font-size: 20px;
                    color: #6b6b6b;
                }

                button{
                    @include headbtn();
                    color: $primaryColor;
                    font-size: 14px;
                    color: #111111;
                    font-weight: 600;
                }

                .ig-btn{
                    background-color: $secondaryColor;
                }

                .ig-btn-a{
                    background-color: transparent;
                }

                .dropdown-toggle{
                    background-color: transparent;
                    font-size: 14px;
                }
            }
        }

        .profile-img{
            text-align: center;
            margin: auto;

            img{
                width: 220px;
                margin: auto;
            }
        }

        .profile-name{
            margin: auto;
            padding-bottom: 15px;

            h1{
                font-size: 22px;
                margin-bottom: 5px;
                font-weight: 400;
                color: rgb(27, 27, 27);
            }

            span{
                font-size: 17px;
                color: #4A90E2;
            }
        }

        .profile-count{
            margin: 10px 0 20px 0;
            .count-grid{
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                p{
                    font-size: 16px;
                }
            }
        }

        .profile-desc{
            .cName{
                font-weight: 550;
            }

            p{
                line-height: 3px;
                font-weight: 400;
                font-size: 14px;
                color: $primaryColor;
            }
        }

        .profile-desc-wrap{
            font-family: $SegoeUI;
            // margin: auto;
        }
    }

    .dropdown-toggle::after{
        display: none;
    }

    .dropdown-item:hover{
        background-color: #353535;
        color: white;
        transition: 0.3s ease-in-out;
    }

    //project

    .proj-modal-body{

        .modal-header{
            border-bottom: none;
        }

        .btn-close{
            background-color: transparent;
            margin-top: 1px;
            margin-right: 1px;
        }

        .modal-profile{
            text-align: center;
            padding-top: 5px;
            border-bottom: 1px solid rgb(214, 214, 214);

            .modal-profile-image{
                img{
                    width: 60px;
                }
            }

            .modal-profile-name{
                p{
                    font-weight: 500;
                    padding-top: 3px;
                }
            }
        }

        .modal-proj-list{

            ul{
                margin-bottom: 0;
                padding: 0;
            }
            ul > li{
                list-style-type: none;

                a{
                    display: flex;
                    justify-content: space-between;
                    padding: 5px 0 5px 5px;
                }

                .prj-icon{
                    font-size: 24px;
                    color: rgb(167, 167, 167);
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

    //message
    .message-modal-body{
        .modal-header{
            border-bottom: none;
        }

        .btn-close{
            background-color: transparent;
            margin-top: 1px;
            margin-right: 1px;
            outline: none;
        }

        .message-title{
            p{
                text-align: center;
                font-family: $SegoeUI;
                font-weight: 500;
            }
        }

        .message-form{

            form{

                input{
                    width: 100%;
                    padding: 5px 8px;
                    margin-bottom: 10px;
                    outline: none;
                    font-size: 14px;
                    background-color: $secondaryColor;
                    border-radius: 4px;
                }

                textarea{
                    width: 100%;
                    padding: 5px 8px;
                    margin-bottom: 10px;
                    outline: none;
                    font-size: 14px;
                    background-color: $secondaryColor;
                    border-radius: 2px;
                }

                .send-form{
                    text-align: center;

                    button{
                        background-color: #2b2b2b;
                        width: 45%;
                        align-items: center;
                        padding: 5px;
                        color: white;
                        font-weight: 300;
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    //ABOUT
    .more-modal-body{
        .modal-content{
            width: 70%;
            display: flex;
            justify-content: center;
            margin: auto;
        }
        .modal-body{
            padding: 0;
            margin: 0;

            .more-opt{

                ul{
                    margin: 0;
                    padding: 0;

                    li{
                        list-style-type: none;
                        text-align: center;
                        padding: 10px 0;
                        border-bottom: 1px solid gray;

                        a{
                            width: 100%;
                            padding: 10px 0;
                            text-decoration: none;
                            color: $primaryColor;
                        }

                        a:hover{
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}
