@import '../../src/styles/variables/var.scss';

.head-wrap{
    .head-grid{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
        margin: 50px 100px;

        .head-col{
            padding: 10px;

            .head-opt{
                display: grid;
                grid-template-columns: 2fr 2fr 2fr 0.5fr;
                grid-gap: 15px;

                button{
                    @include headbtn();
                }

                .dots{
                    background-color: transparent;
                }
            }
        }

        .profile-img{
            text-align: center;
            margin: auto;

            img{
                width: 220px;
                margin: auto;
            }
        }

        .profile-name{
            margin: auto;
            padding-bottom: 15px;

            h1{
                font-size: 22px;
                margin-bottom: 5px;
                font-weight: 400;
                color: rgb(66, 66, 66);
            }

            span{
                font-size: 18px;
                color: #4A90E2;
            }
        }

        .profile-count{
            margin: 10px 0 20px 0;
            .count-grid{
                display: grid;
                grid-template-columns: repeat(4, 1fr);

                p{
                    font-size: 16px;
                }
            }
        }

        .profile-desc{
            .cName{
                font-weight: 550;
            }

            p{
                line-height: 22px;
                font-weight: 400;
                font-size: 14px;
                color: $primaryColor;
            }
        }

        .profile-desc-wrap{
            font-family: $SegoeUI;
            // margin: auto;
        }
    }
}