@import '../../src/styles/variables/var.scss';

.services-main{
    margin-bottom: 100px;

    .service-section-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 50px;

        @media screen and (max-width: 768px){
            grid-template-columns: repeat(1, 1fr);
            padding: 50px 10px;
        }

        .service-card{
            background-color: #E3E3E3;
            margin: 0 10px;
            text-align: center;
            padding: 70px 10px;
            border-radius: 3px;

            @media screen and (max-width: 768px){
                margin: 15px 0;
            }

            p{

            }

            h3{
                margin: 0;
            }

            img{
                margin: 25px 0;
            }
        }

        .service-card:nth-child(2){
            background-color: #2C2C2C;
            color: white;
        }
    }

    .service-info{
        .srvc-text{
            text-align: center;
            width: 60%;
            margin: auto;
            font-family: $SegoeUI;

            @media screen and (max-width: 768px){
                width: 95%;
            }
        }

        h3{
            font-size: 35px;
        }

        .service-cta{
            text-align: center;

            .arrow-icon{
                margin: 60px 0 20px 0;
                font-size: 50px;
                animation: moveArrow 2s infinite;
            }

            @keyframes moveArrow {
                0%, 100% {
                    transform: translateY(0);
                }

                50% {
                    transform: translateY(-20px);
                }
            }

            button{
                background-color: #2C2C2C;
                padding: 10px 30px;
                border-radius: 3px;
                color: white;
            }
        }
    }
}