$primaryColor:#373737;
$secondaryColor:#e6e6e6;
$buttonColor:#D9D9D9;
$mainWhite: #ffff;

//FONT FAMILY
$Italiana: 'Italiana', serif;
$SegoeUI: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

//mixins functions
//header buttons
@mixin headbtn{
    border: none;
    outline: none;
    padding: 3px 0;
    font-size: 13px;
    font-weight: 500;
    background-color: $secondaryColor;
    border-radius: 3px;
    font-family: $SegoeUI;
    cursor: pointer;
}